@import "../../General_or_Common/colors.scss";


.card-item {
  background: $font-primary;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
}

.card-top {
  height: 200px;

  img {
    width: 20%;
    height: 100%;
  }
}

.card-bottom {
  padding: 10px;
}
.card-info {
  color: $font-secondary;
  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
